@import '../../assets/theme/constants.less';

.project-list {
  width: 100%;

  .project-page {
    padding-top: 24px;

    .project-type {
      color: #070a26;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      margin-bottom: 16px;
    }

    .project-empty-full {
      height: calc(100vh - @header-height - @footer-height - 72px);
    }
    
    .project-list-wrapper {
      margin-bottom: 48px;
    }
  }
}
