.cre-project {
  width: 100%;
  padding: 0 16px 24px;
  
  .project-nav {
    padding: 24px 0;
  }
  .project-wrapper {
    max-width: 898px;
    margin: auto;
  } 
  
  .project-wrapper-full {
    max-width: 100%;
  }

  .@{app-prefix}-steps .@{app-prefix}-steps-item-wait .@{app-prefix}-steps-item-icon {
    background-color: transparent;
    border: 1px solid #888997;
  }

  .form-page {
    margin-top: 48px;
  }
  .form-item-width-437 {
    max-width: 437px;
  }
  .form-item-width-full {
    width: 100%;
  }
  .flex-grow {
    flex-grow: 1;
  }
  .margin-left-8 {
    margin-left: 8px;
  }
}