.participant-list-wrapper {
  .bread-wrap {
    margin: 24px 0;
  }
  .participant-header {
    margin-bottom: 24px;
    .address-search {
      width: 437px;
      &:not(:hover, :focus, :focus-within) {
        border-color: #070a26;
      }
    }
  }
  .table {
    margin-bottom: 16px;
  }
}
